
<div class="banner-small" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/paris');">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="user-info margin-medium">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-show"%>
            <p >ssaunier</p>
        </div>
        </div>

      </div>
    </div>


  </div>

</div>
